name: OpenFrame OSS Libs Test

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !github.event.pull_request.draft
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build
        run: |
          mvn clean install \
            -am \
            -Dcompress \
            --threads 2C \
            --batch-mode \
            --no-transfer-progress \
            -Dmaven.javadoc.skip=true
      
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: |
            **/target/*.jar
            !**/target/original-*.jar
            !**/target/*-sources.jar
            !**/target/*-javadoc.jar
          retention-days: 1
          if-no-files-found: warn